.jumbotron {
  background-image: url(../../public/bg1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  margin-top: -75px;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.jbTitle {
  font-size: 95px;
  margin-bottom: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.jbText {
  font-size: 20px;
  letter-spacing: 8px;
  font-family: var(--fontSerif);
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../public/story.jpg);
  background-position: bottom;
  background-size: cover;
  min-height: 90vh;
  width: 100%;
}

.storyInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.storyInfo .title {
  padding: 50px;
}

.storyInfo .title p {
  text-align: center;
}
.storyInfo .title > p:first-child {
  font-size: 50px;
  font-weight: var(--fwbold);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.storyInfo .title > p:last-child {
  font-size: 20px;
  color: var(--gray);
  margin-top: 10px;
}

.story .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.story .text p {
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px;
  color: var(--brown);
}

.story .text > p:last-child {
  font-family: var(--fontCursive);
  color: var(--dark);
}

.mySwiper {
  background-color: var(--bg);
}

.slideImg {
  width: 100%;
}

.bgColour {
  background-image: url(../../public/bgcolor_01.jpg);
  width: 100%;
  height: 50vh;
  position: relative;
}

.bgColour .title {
  position: absolute;
  font-size: 60px;
  font-weight: var(--fwbold);
  letter-spacing: 8px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product1,
.product2 {
  width: 100%;
  height: 60vw;
  position: relative;
  background-color: #cec7c1;
}

.product1 .img {
  background-image: url(../../public/productBg1_02.jpg);
  width: 100%;
  height: 60vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.product2 .img {
  background-image: url(../../public/productBg2.jpg);
  width: 100%;
  height: 60vw;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.product1 .info {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 20%;
}

.product2 .info {
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 40%;
}

.infosm {
  display: none;
}

.productItem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  opacity: 0;
}

.show {
  opacity: 1;
}

.productItem p {
  /* width: 100%; */
  font-size: var(--h3fs28);
  letter-spacing: 1px;
  margin-left: 5%;
}

.activeBall {
  background-color: #cec7c1;
  overflow: hidden;
  z-index: 999;
}

.ballImg {
  width: 150px;
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 1s; /* 你可以調整動畫時間 */
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s; /* 你可以調整動畫時間 */
  animation-fill-mode: both;
}

.rotateInL {
  animation-name: rotateInL;
  animation-duration: 1s; /* 你可以調整動畫時間 */
  animation-fill-mode: both;
}

.rotateInR {
  animation-name: rotateInR;
  animation-duration: 1s; /* 你可以調整動畫時間 */
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateInL {
  0% {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateInR {
  0% {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .bgColour {
    display: none;
  }

  .product1,
  .product2 {
    height: 90vw;
    background-color: #ded7d1;
  }

  .product1 .img {
    background-image: url(../../public/productBg-sm1.jpg);
    width: 100%;
    height: 85vw;
    background-size: cover;
    background-position: top center;
  }

  .product2 .img {
    background-image: url(../../public/productBg-sm2.jpg);
    width: 100%;
    height: 90vw;
    background-position: top center;
  }

  .product1 .info,
  .product2 .info {
    display: none;
  }

  .infosm {
    display: block;
    background-color: #ded7d1;
    padding: 30px 10px;
  }

  .activeBall {
    background-color: #ded7d1;
  }
}
@media screen and (max-width: 767px) {
  .jumbotron {
    background-position: 65% 100%;
  }

  .story {
    background-position: 80% 100%;
    justify-content: flex-start;
    padding-top: 20px;
  }
  .productItem p {
    font-size: var(--h6fs18);
  }
}
