.jumbotron {
  background-image: url(/bg1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.jbTitle {
  font-size: 95px;
  margin-bottom: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.jbText {
  font-size: 20px;
  letter-spacing: 8px;
  font-family: var(--fontSerif);
}

.story {
  display: flex;
  justify-content: space-between;
  background-image: url(/story.jpg);
  background-position: bottom;
  background-size: cover;
  min-height: 90vh;
  width: 100%;
}

.storyInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.storyInfo .title p {
  text-align: center;
}
.storyInfo .title > p:first-child {
  font-size: 50px;
  font-weight: var(--fwbold);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.storyInfo .title > p:last-child {
  font-size: 20px;
  color: var(--gray);
	margin-top: 10px;
}

.story .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
	margin-bottom: 30px;
}

.story .text p {
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px;
  color: var(--brown);
}

.story .text > p:last-child {
  font-family: var(--fontCursive);
  color: var(--dark);
}

@media screen and (max-width: 767px) {
.jumbotron{
	background-position: 65% 100%;
}

	.story{
		background-position: 80% 100%;
	}
}
