.productItem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.productItem p {
  /* width: 100%; */
  font-size: var(--h3fs28);
  letter-spacing: 1px;
  margin-left: 5%;
}

@media screen and (max-width: 767px) {
  .productItem p {
    font-size: var(--h6fs18);
  }
}
