.footer {
  background-color: var(--bgGray);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.info {
  display: flex;
}

.info li{
	margin: 10px;
}

.socialMedia1{
	width: 30px;
	color: var(--brown);
	font-size: 29px;
}

.socialMedia {
  width: 30px;
  color: var(--brown);
  font-size: 26px;
	padding-top: 1px;
}

.copyRight p{
  font-size: 10px;
  text-align: center;
}
