.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  height: 75px;
  transition: all 0.5s ease;
  z-index: 9;
}

.header.active {
  background-color: var(--dark);
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoimg{
  background-image: url(../../public/logo.png);
}

.links {
  display: flex;
}

.linkMenu {
  display: flex;
  min-width: 400px;
  width: 25%;
}

.linkItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.linkItem a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 20px;
  left: 0;
  background-color: var(--dark);
  width: 180px;
  border-radius: var(--br10);
  padding: var(--p16);
  display: none;
}

.accordion {
  display: none;
}

.dropdown a {
  display: block;
  width: 100%;
}

.dropdown li {
  margin: 15px;
}

.linkItem a:hover {
  color: var(--ltYellow);
}

.linkItem:hover .dropdown {
  display: block;
}

.navToggler {
  display: none;
}

.iconMenu {
  display: flex;
}

.cartBtn {
  margin-right: 20px;
}

.iconCart,
.iconUser {
  color: var(--white);
  font-size: var(--h6fs18);
  transition: all 0.3s ease;
}

.iconCart:hover,
.iconUser:hover {
  color: var(--ltYellow);
}

.darkWrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary);
  opacity: 0.6;
  display: none;
  z-index: 3;
}


@media screen and (max-width: 767px) {
  .header {
    padding: 0 10px;
  }

  .navToggler {
    display: block;
    padding: 0px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
  }

  .linkMenu {
    display: none;
  }

  .accordion {
    position: fixed;
    display: block;
    top: 0;
    left: -100%;
    margin-top: 75px;
    height: 100vh;
    transition: all 1s ease;
    z-index: 9;
  }

  .accordion.active {
    left: 0;
  }

  .darkWrap.active {
    display: block;
  }

  .line {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
  }

  .line::before,
  .line::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    display: block;
    background-color: #fff;
  }

  .line::before {
    top: 5px;
  }

  .line::after {
    bottom: 5px;
  }

  .line,
  .line::before,
  .line::after {
    transition: all 0.3s ease;
  }

  .line.active {
    transform: rotate(45deg);
  }

  .line.active::after {
    top: 0;
  }

  .line.active::before {
    transform: rotate(90deg);
    top: 0;
  }
}
